.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .header .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 24px;
    color: red;
  }
  
  .header p {
    font-size: 18px;
    color: black;
  }
  
  .header h3 {
    font-size: 22px;
    color: black;
    margin-top: 10px;
  }
  
  .content h3 {
    font-size: 20px;
    color: black;
    margin-top: 20px;
  }
  
  .content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .content ul li {
    margin: 10px 0;
  }
  
  .content ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  
  .content ul li a:hover {
    color: blue;
  }
  