
   .registration-container {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header .logo {
  width: 100px;
  height: auto;
}

.header h1 {
  font-size: 1.5em;
  margin: 10px 0;
  color: rgb(218, 54, 54);
}

.header p {
  font-size: 1em;
  margin: 5px 0;
  color: rgb(218, 54, 54);
}

.header h2 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #000;
}

.form label{
    font-weight: bold;
}

/* .form-group {
  margin: 15px 0;
} */

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="button"] {
    display: block;
    width: 30%;
    padding: 10px;
    margin-top: 20px;
    background-color: #a2a3a7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #5b5f64;
  }

button[type="submit"] {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
